*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: aqua;
  color: purple
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  text-align: center;
  border: 3px solid blueviolet;
}

h2 {
  color: brown;
  font-size: 30px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 5px;
  margin: 10px
}

#link-individual {
  margin: 20px;

}



.links {
  border: 2px solid black;
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;

}

/* La propiedad font-weight se usa para especificar el grosor de la fuente */

/* Usamos el selector :first-child cuando queremos aplicar un estilo específico solo al primer elemento hijo de un contenedor (padre).
El selector :nth-child() se usa para seleccionar elementos basados en su posición específica en relación con sus elementos hermanos en el HTML, mientras que el selector :last-child se usa para seleccionar el último hijo de un elemento padre en el HTML. */


.row {
  display: flex;
  flex-wrap: wrap;
  /* flex-wrap, sirve para que el contenido se vaya hacia abajo en caso no quepa, solo sirve con disply flex, no sirve por si solo */
  margin: 10px;
}

.column {
  flex: 1;
  padding: 10px;
}

@media (max-width: 600px) {
  .column {
    flex: 100%;
  }
}




.container-nav {
  display: flex;
  padding: 10px;
  height: 50px;
  background-color: rgb(203, 146, 236);
}


.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.brand {
  display: flex;
  align-items: center;
}


li>a {
  padding: 8px 24px;
}


li {
  list-style-type: none;
}


a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(3, 56, 52);
}

.nav-links {
  display: flex;
  align-items: center;
}


.button-menu-toggle {
  display: none;
}

.imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.img_cont {

  width: 300px;
  height: 300px;
  padding: 0;
  margin: 0;
}
/* main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

.cont_video{
  width: 100%;
}

.cont_img{
  width: 100%;
  display: flex;
  justify-content: center;
}
.cont_video video{
  width: 100%;
}
footer{
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}
/* img {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: auto;
  margin: auto;
  padding: 10px 300px 10px 300px;
} */

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media (max-width: 768px) {
  .column {
    flex: 100%;
  }

  .nav-links {
    display: none;
  }


  .button-menu-toggle {
    display: block;
    background-color: white;
    border: none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
  }

  .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20, 20, 20, 0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap: 70px;
    font-size: 40px;

    

  }
}

@media (max-width: 915px) {
  .imagenes{
    flex-direction: column;
    align-items: center;
    /* sirve para centrar ege horizontal o vertical */
  }
  main{
    display: flex;
    flex-direction: column;
  }
  /* video{
    align-items: column;
    align-items: center;
  } */
  footer{
    display: flex;
    text-align: center;
  }
}


.greeting{
  text-align: center;
}




/* .formulario{
    display: 50%;
    margin:auto;
    border: 2px solid black;
}

#myForm{
    display: flex;
}

  .campoNombre{
    
    display: inline-flex;
    margin: auto;
    padding: 5px;
    
 
  }
 

  .campoEmail{
    display: block;
    padding: auto;
  }
  .subMensaje{
    display: flex;
    padding: 5px 80px 10px 240px;
  }
  .campoMensaje{
    display: flex;
    padding: 10px 50px 100px 180px;
    flex-direction: column;
  }
  .campoPais{
    display: flex;
    flex-direction: row-reverse;
  } */